.Heading{
    margin-top: 30px;
    font-weight: 20px;
    color: black;  
}

/* .fast{
    color: red;
} */
.navbar{
    display:flex;
    justify-content: space-between;
}
.main-nav {
    display: flex;
}
.main-nav a { 
    float: left;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px; 
    margin-top: 30px;
    margin-right: 20px;
  }

  .main-nav a:hover {
    background-color: white;
    color: black;
    overflow: hidden;
  }
  
.mobile-nav {
    display: inline-block;
}


.mobile-nav a { 
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px; 
    margin-top: 30px;
    margin-right: 20px;
  }

  .mobile-nav a:hover {
    background-color: #ddd;
    color: black;
    overflow: hidden;
  }

  .Icon{
      color: white;
      size: 20px;
      margin-top: 30px;
      margin-right: 50px;
      justify-content: center;
      align-items: center;
      display: flex;
  }
  .header-icon {
      display: flex;
      justify-content: space-between;
  }

  .main-nav{
    margin-right: 50px;
    height: fit-content;
  }
  @media(max-width:818px){
    .main-nav{
          display:none;
      }
    .header-icon {
        width: 100%;
    }
    .navbar {
        display: block;
    }
  }

  @media(min-width:819px){
    .Icon{
        display: none;
    } 
}
